section#header {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

section#direction {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

section#footer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.content {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
}
